<ion-header>
  <ion-toolbar>
    <ion-title>Chapter3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>According to one interpretation, as the result of a measurement, the wave function containing the probability information for a system collapses from a given initial state to a particular eigenstate. The possible results of a measurement are the eigenvalues of the operator representing the observable – which explains the choice of Hermitian operators, for which all the eigenvalues are real. The probability distribution of an observable in a given state can be found by computing the spectral decomposition of the corresponding operator. Heisenberg's uncertainty principle is represented by the statement that the operators corresponding to certain observables do not commute. </p>
<ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Go back to TOC</ion-button>
<ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter2']">Go back to Chapter 2</ion-button>
<ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter4']">Go to Chapter 4</ion-button>
</ion-content>
<div class="boxes">
  <p class="num">Page 4</p>
  </div>
