<ion-header>
  <ion-toolbar>
    <ion-title>Chapter4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Generally, quantum mechanics does not assign definite values. Instead, it makes a prediction using a probability distribution; that is, it describes the probability of obtaining the possible outcomes from measuring an observable. Often these results are skewed by many causes, such as dense probability clouds. Probability clouds are approximate (but better than the Bohr model) whereby electron location is given by a probability function, the wave function eigenvalue, such that the probability is the squared modulus of the complex amplitude, or quantum state nuclear attraction.[32][33] Naturally, these probabilities will depend on the quantum state at the "instant" of the measurement. Hence, uncertainty is involved in the value. There are, however, certain states that are associated with a definite value of a particular observable. These are known as eigenstates of the observable "eigen" can be translated from German as meaning "inherent" or "characteristic".</p>
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Go back to TOC</ion-button>
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter3']">Go back to Chapter 3</ion-button>
</ion-content>
<div class="new">
  <p class="numbers">Page 5</p>
  </div>

