<ion-header>
  <ion-toolbar>
    <ion-title>toc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-item [routerDirection]="'root'" [routerLink]="['/cover-page']">
      <ion-label>Cover-page</ion-label>
    </ion-item>
    <ion-item [routerDirection]="'root'" [routerLink]="['/chapter1']">
      <ion-label>Chapter 1</ion-label>
    </ion-item>
    <ion-item [routerDirection]="'root'" [routerLink]="['/chapter2']">
      <ion-label>Chapter 2</ion-label>
    </ion-item>
    <ion-item [routerDirection]="'root'" [routerLink]="['/chapter3']">
      <ion-label>Chapter 3</ion-label>
    </ion-item>
    <ion-item [routerDirection]="'root'" [routerLink]="['/chapter4']">
      <ion-label>Chapter 4</ion-label>
      </ion-item>
  

</ion-content>
