<ion-header>
  <ion-toolbar>
    <ion-title>Chapter1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>Quantum mechanics gradually arose from theories to explain observations which could not be reconciled with classical physics, such as Max Planck's solution in 1900 to the black-body radiation problem, and from the correspondence between energy and frequency in Albert Einstein's 1905 paper which explained the photoelectric effect. Early quantum theory was profoundly re-conceived in the mid-1920s by Erwin Schrödinger, Werner Heisenberg, Max Born and others. The modern theory is formulated in various specially developed mathematical formalisms. In one of them, a mathematical function, the wave function, provides information about the probability amplitude of position, momentum, and other physical properties of a particle. </p>
<ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Go back to TOC</ion-button>
<ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter2']">Go to Chapter 2</ion-button>
</ion-content>
<div class="b">
  <p class="n">Page 2</p>
  </div>